@use "../global";
.todo-wrapper{
  max-width: 420px;
  height: 540px;
  padding: 30px;
  margin: 10% auto 0;
  border-radius: 20px 0 40px 0;
  background: global.$wrapper-bg;
  box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  &__btn{
    padding: 5px 10px;
    color: global.$white;
    background-color: global.$rose-color;
    @include global.typography($fz:14px, $fw: 500);
    text-transform: uppercase;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color ease 300ms;
    &:hover{
      background-color: global.$red-color;
      transition: background-color ease 300ms;
    }
  }
  &__title{
    margin: 0;
    color: global.$white;
    @include global.typography($fz:28px, $fw: 700)
  }
  &::before{
    content:"";
    position: absolute;
    width: 395px;
    height: 68px;
    transform: rotate(-2.3deg);
    border-radius: 20px;
    background: linear-gradient(180deg, #31394D 0%, #091739 100%);
    top: -20px;
    left: 0;
    z-index: -1;
  }
  &::after{
    content:"";
    position: absolute;
    width: 342px;
    height: 85.5px;
    transform: rotate(-4.5deg);
    border-radius: 20px;
    background: linear-gradient(180deg, #4F5565 0%, #000 55%);
    top: -35px;
    left: 0;
    z-index: -2;
  }
}
.copyright{
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  color: #414B62;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: global.$mobile-width) {
  .todo-wrapper {
    max-width: 400px;
    margin-top: 100px;
    &::before{
      width: 355px;
    }
    &::after{
      width: 322px;
    }
  }
}
