@forward './variables';
@forward './mixins';
@use "variables";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff") ;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff") ;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff") ;
  font-display: swap;
}
body{
  margin: 0;
  min-height: 100vh;
  padding-top: 10px;
  //background-color: variables.$bg-color;
  font-family: Montserrat, Arial, sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: radial-gradient(35.13% 50% at 50.00% 50.00%, #252E42 0%, #161C2E 100%);
  //background-image: url(../img/background.jpg);
  //@supports (background-image: (url('../img/background.webp'))) {
  //  background-image: url('../img/backgroundt.webp')
  //}
  //@media (min-resolution: 2dppx) {
  //  background-image: url(../img/background-2x.hpg);
  //  @supports (background-image: (url('../img/background-2x.webp'))) {
  //    background-image: url('../img/background-2x.webp')
  //  }
  //}
}
*, *::before, *::after{
  box-sizing: border-box;
}

* {
  scrollbar-width: auto;
  scrollbar-color: variables.$rose-color transparent;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
//*::-webkit-scrollbar-track {
//  background: orange;
//}
*::-webkit-scrollbar-thumb {
  background-color: variables.$rose-color;
  border-radius: 4px;

}
img {
  max-width: 100%;
  object-fit: contain;
}
a {
  text-decoration: none;
}
